@model Modal

<div aria-hidden="true" aria-labelledby="@Model.AreaLabelID" role="dialog" tabindex="-1" id="@Model.ID" class="modal fade">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>


